body {
  font-family: 'Roboto', sans-serif;
}

a {
  cursor: pointer;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  a {
    font-size: 1.2rem;
    width: 86%;
    text-align: center;
  }
}

.posts {
  margin-top: 3em;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  .post {
    width: 100%;
    margin-bottom: .5rem;
    margin-right: .5rem;

    @include tablet {
      width: 43%;
    }

    .post-info {
      display: flex;
      justify-content: space-between;
    }

  }
}
